html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}
body {
	font-size: 2em;
	padding: 5vw;
}
#header {
	font-size: 10vw;
	font-weight: 100;
}
#display {
	font-size: 20vw;
}
#index {
	font-weight: 500;
}
#degrees {
	font-weight: 200;
}
